/* All pages */
tr.header { background-color: #406060;}
tr.rowA { background-color: #005540;}
tr.rowB { background-color: #004055;}
textarea { background-color: #006060; color: white; }
.desc { border-style:ridge; border-width:5px; border-color: #009070; margin: 0px; border-top-style: none }
.descHeader { font-size:150%; font-style: italic; }
.code { font-size:125%; }
/* Top page */
body{ background-color: #004040; color: white; } 
p { color: blue; } 
h3{ color: yellow; }
h2{ color: yellow; }
h1{ color: yellow; }
#projectName { font-size:200%; color: #f08235; }
#projectVersion { word-spacing:30px; color: SaddleBrown; }
#projectReleaseDate { word-spacing:30px; color: Sienna; }

.quicktable { color: red; }
/* To modify individual tables 
#qtFiles { }
*/

/* Class details page */
#className { color: DarkGoldenRod;}

/*
.classMethodDesc
*/

/* File Details page*/
#fileDetails { color: DarkGoldenRod; }  /* Set your file details page defaults here */
#fileName { color: DarkGoldenRod;}
#fileDesc { color: DarkGoldenRod;}
#fileLanguage { color: DarkGoldenRod;}
.fileLicense { background-color: #ffc0c0; color: black; font-size: 120%; }

#fileInfoTable { width: 100%; }

.sectionHeader { color: yellow;}
/* Also you can specify
#sectionHeader<sectionName>
*/
.constantsHeader { color: peru;}
.constantsTableHeaderRow { color: tan; }
tr.constantsTableRow { color: white; }
td.constantsTableType { color: white; }
td.constantsTableName { color: red; }
td.constantsTableBrief { color: saddlebrown; }
tr.constantsTableDescRow { color: white; }

.varsHeader { color: DarkGoldenRod;}
tr.varsTableHeaderRow { color: tan; } 
tr.varsTableRow { color: white; } 
tr.varsTableDescRow { color: white; font-size: 110%;}

.fnsHeader { color: DarkGoldenRod;}
tr.fnsTableHeaderRow {color: tan; }
tr.fnsTableRow { color: white; } 
tr.fnsTableDescRow { color: white; font-size: 110%; }

.classesHeader { color: DarkGoldenRod;}
tr.classesTableHeaderRow { color: tan; } 
tr.classesTableRow { color: white; } 
tr.classesTableDescRow { color: white; font-size: 110%; }

/* Class index */

.classIndexHeaderRow { background-color: #406060;}
/*
.classIndexRowA { background-color: ;}
.classIndexRowB { background-color: #e2c49C;}
*/


/* DO NOT CHANGE these classes! */

.hidden { visibility:hidden; display:none; }